body{
    background-color: rgb(197, 207, 209);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
nav {
    text-align: right;
    padding: 30px 50px 0 0;
}
nav > a{
    color: rgb(37, 38, 39);
    margin-right: 10px;
    font-weight: 300;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
}
nav > a:hover{
    text-decoration: underline;
 
}
.diseñofrontal {
    position: absolute;
    bottom: -100px;
    width: 100%;
}
.texto-cabecera {
    display: flex;
    height: 240px;
    align-items: center;
    flex-direction: column;
}
.texto-cabecera h1 {
    font-size: 35px;
    color: rgb(21, 21, 24);

}
.texto-cabecera h2{
    font-size: 20px;
    font-weight: 300;
    color: rgb(102, 102, 107);
}
.imagenprincipal {
    padding: 20px;
    width: 460px;
    height: 380px;
}
}